.blue {
    color: blue;
}

.pink {
    color: pink;
}

.display-infor-container {
    text-align: center;

    button {
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }

    button:hover {
        background-color: lightblue;
    }

    .list-user-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        padding: 20px;
    }

    .user-container {
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        width: 200px;
        text-align: center;
    }
}
